coverage==4.5.3
defusedxml==0.4.1
Django==2.2.3
django-tastypie==0.9.15
entrypoints==0.3
flake8==3.7.7
gunicorn==19.9.0
mccabe==0.6.1
mimeparse==0.1.3
model-mommy==1.6.0
Pillow==6.0.0
pip-autoremove==0.9.1
psycopg2==2.8.3
pycodestyle==2.5.0
pyflakes==2.1.1
python-dateutil==2.1
pytz==2019.1
setproctitle==1.1.10
six==1.12.0
sqlparse==0.3.0
